/**
 * Toolkit styles
 */

@import '../../../../indico/indico/htdocs/sass/screen.scss';


.color-darker-blue {
    border-color: $darker-blue;
}
.color-dark-blue {
    border-color: $dark-blue;
}
.color-blue {
    border-color: $blue;
}
.color-pastel-blue {
    border-color: $pastel-blue;
}
.color-light-blue {
    border-color: $light-blue;
}
.color-link {
    border-color: $link;
}
.color-indico-blue {
    border-color: $indico-blue;
}
.color-red {
    border-color: $red;
}
.color-dark-red {
    border-color: $dark-red;
}
.color-light-red {
    border-color: $light-red;
}
.color-dark-gray {
    border-color: $dark-gray;
}
.color-gray {
    border-color: $gray;
}
.color-pastel-gray {
    border-color: $pastel-gray;
}
.color-light-gray {
    border-color: $light-gray;
}
.color-black {
    border-color: $black;
}
.color-light-black {
    border-color: $light-black;
}
.color-dark-green {
    border-color: $dark-green;
}
.color-green {
    border-color: $green;
}
.color-light-green {
    border-color: $light-green;
}
.color-dark-yellow {
    border-color: $dark-yellow;
}
.color-yellow {
    border-color: $yellow;
}
.color-postit-yellow {
    border-color: $postit-yellow;
}
.color-light-yellow {
    border-color: $light-yellow;
}
.color-orange {
    border-color: $orange;
}
.color-bright-orange {
    border-color: $bright-orange;
}
.color-purple {
    border-color: $purple;
}
.color-separator-color {
    border-color: $separator-color;
}

.styleguide-tags-container {
    padding: 1em;
    background-color: $postit-yellow;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        min-width: 125px;
    }

    .icon {
        font-size: 3em;
        color: $black;
    }
}
