---
notes: |
  The legend of the badge can either go on the left or on the right side.
---

<a class="i-badge">
    <div class="i-badge-legend">
        <span class="i-badge-legend-left">legend</span>
    </div>
    <div class="i-badge-content">
        <span class="i-badge-title">title</span>
    </div>
</a>

<a class="i-badge">
    <div class="i-badge-legend">
        <span class="i-badge-legend-right">legend</span>
    </div>
    <div class="i-badge-content">
        <span class="i-badge-title">title</span>
    </div>
</a>
