---
notes: |
    The `subtle` class will remove both background and borders as long as the button is not on `:hover` nor `:active`. Combine it with the `dashed` and `outline` classes to get different effects when on `:hover` or `:active`
---

<button class="i-button text-color subtle">button</button>
<button class="i-button text-color subtle accept">accept</button>
<button class="i-button text-color subtle outline danger">danger</button>
<button class="i-button text-color subtle dashed highlight">highlight</button>
<button class="i-button text-color subtle outline dashed warning">warning</button>
