<div class="highlight-message-box">
    <div class="message-box-content">
        <span class="icon"></span>
        <div class="message-text">This is the message</div>
    </div>
</div>

<div class="success-message-box">
    <div class="message-box-content">
        <span class="icon"></span>
        <div class="message-text">This is the message</div>
    </div>
</div>

<div class="warning-message-box">
    <div class="message-box-content">
        <span class="icon"></span>
        <div class="message-text">This is the message</div>
    </div>
</div>

<div class="error-message-box">
    <div class="message-box-content">
        <span class="icon"></span>
        <div class="message-text">This is the message</div>
    </div>
</div>

<div class="danger-message-box">
    <div class="message-box-content">
        <span class="icon"></span>
        <div class="message-text">This is the message</div>
    </div>
</div>
