<ul class="ordered-list">
    <li>
        <div class="list-item-title">list item title</div>
        <div class="list-item-content">
            <div class="list-item-content-title">list item content title</div>
            <div class="list-item-content-data">list item content data</div>
            <div>list item content</div>
        </div>
    </li>
    <li>
        <div class="list-item-title">list item title</div>
        <div class="list-item-content">
            <div class="list-item-content-title">list item content title</div>
            <div class="list-item-content-data">list item content data</div>
            <div>list item content</div>
        </div>
    </li>
</ul>
