<ul class="file-list">
    <li class="truncate-text">
        <a class="attachment icon-file-image" href="#">
            <span class="title">file title</span>
        </a>
    </li>
    <li class="truncate-text">
        <a class="attachment icon-file-excel" href="#">
            <span class="title">file title</span>
        </a>
    </li>
    <li class="truncate-text">
        <a class="attachment icon-file-pdf" href="#">
            <span class="title">file title</span>
        </a>
    </li>
</ul>
