---
notes: |
    The `i-table` can be further customized using the classes below:
    * `table`:
        * `.no-margin` removes the top margin of the table
    * `tr`:
        * `.selected` applies to the `tr` to mark a row as selected
    * `th, td`:
        * `.thin-column` for a thin column
        * `.empty` to style the placeholder of an empty cell
        * `.id-column`
---

<table class="i-table">
    <thead>
        <tr class="i-table">
            <th class="i-table">Name</th>
            <th class="i-table">Lastname</th>
        </tr>
    </thead>
    <tbody>
        <tr class="i-table">
            <td class="i-table">John</td>
            <td class="i-table">Doe</td>
        </tr>
        <tr class="i-table">
            <td class="i-table">Richard</td>
            <td class="i-table">Roe</td>
        </tr>
    </tbody>
</table>
