<table class="i-table-widget">
    <thead>
        <tr>
            <th class="col-50">Name</th>
            <th>Lastname</th>
            <th>Address</th>
            <th class="action-column">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>123 Main St. Anytown</td>
            <td class="action-column">
                <a href="#" class="icon-edit action-icon"></a>
                <a href="#" class="icon-remove action-icon"></a>
            </td>
        </tr>
        <tr>
            <td>Richard</td>
            <td>Roe</td>
            <td>125 Main St. Anytown</td>
            <td class="action-column">
                <a href="#" class="icon-edit action-icon"></a>
                <a href="#" class="icon-remove action-icon"></a>
            </td>
        </tr>
    </tbody>
</table>
