<table class="i-table-widget">
    <tbody>
        <tr>
            <td class="i-table id-column">
                <i class="designer-template-type-icon template-icon-badge"></i>
            </td>
            <td>Richard Roe</td>
            <td class="text-superfluous">125 Main St. Anytown</td>
            <td>
                <div class="thin toolbar right">
                    <div class="group">
                        <a class="i-button icon-edit icon-only text-color borderless" href="#"></a>
                        <a class="i-button icon-remove icon-only text-color borderless danger" href="#"></a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="i-table id-column">
                <i class="designer-template-type-icon template-icon-badge"></i>
            </td>
            <td>John Doe</td>
            <td class="text-superfluous">123 Main St. Anytown</td>
            <td>
                <div class="thin toolbar right">
                    <div class="group">
                        <a class="i-button icon-edit icon-only text-color borderless" href="#"></a>
                        <a class="i-button icon-remove icon-only text-color borderless danger" href="#"></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
