<div class="i-timeline-item">
    <div class="i-timeline-item-label avatar-placeholder" style="background-color: #aed581;">J</div>
    <div class="flexrow i-timeline-item-content">
        <div class="i-timeline-item-metadata">
            <div class="f-self-stretch">
                <strong>John Doe</strong> performed this action
                <time>20 Jun 2017</time>
            </div>
            <div>
                <a href="#">link</a>
            </div>
        </div>
        <div class="i-timeline-item-box header-indicator-top">
            <div class="i-box-header flexrow">
                <span class="f-self-stretch">timeline item title</span>
                <a class="i-link icon-edit" href="#"></a>
            </div>
            <div class="i-box-content js-form-container">content</div>
        </div>
    </div>
</div>
