<div class="toolbar">
    <div class="group i-selection">
        <span class="i-button label">label</span>
        <input type="radio" name="option" value="option-one" id="selection-radio-one">
        <label class="i-button"for="selection-radio-one">option one</label>
        <input type="radio" name="option" value="option-one" id="selection-radio-two">
        <label class="i-button"for="selection-radio-two">option two</label>
        <input type="radio" name="option" value="option-one" id="selection-radio-three">
        <label class="i-button"for="selection-radio-three">option three</label>
    </div>
</div>
