---
notes: To render the steps use the macros in `steps.html`
---

<ul class="steps flexrow f-a-start f-j-center">
    <li class="completed">
        <div class="label top">top label</div>
        <div class="horizontal-line"></div>
        <div class="circle flexrow f-j-center"></div>
        <div class="label bottom">bottom label</div>
    </li>
    <li class="current">
        <div class="label top">top label</div>
        <div class="horizontal-line"></div>
        <div class="circle flexrow f-j-center"></div>
        <div class="label bottom">bottom label</div>
    </li>
    <li>
        <div class="label top">top label</div>
        <div class="horizontal-line"></div>
        <div class="circle flexrow f-j-center"></div>
        <div class="label bottom">bottom label</div>
    </li>
    <li>
        <div class="label top">top label</div>
        <div class="horizontal-line"></div>
        <div class="circle flexrow f-j-center"></div>
        <div class="label bottom">bottom label</div>
    </li>
</ul>
